<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
    <title>Home page</title>
    <style>
        body {
            text-align: center;
            font-family: 'Quicksand', sans-serif;
            background-color: #183446;
            color: white;
        }
    </style>
</head>
<body>
    <h1>ASCII GENERATOR</h1>
    <form action="/" method="POST">
        <textarea name="asciitext" type="text" value="" required></textarea>
            <div class="select">
                <select name="police">
                  <option value="standard">Standard</option>
                  <option value="thinkertoy">Thinkerboy</option>
                  <option value="shadow">Shadow</option>
                </select>
            </div>
        <input type="submit" value="Cliquez"/></label>
    </form>

    <pre>{{.TextAscii}}</pre>
    
</body>
</html>